[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Colduck/nvim
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/Colduck/tmux
[submodule "wezterm/.config/wezterm"]
	path = wezterm/.config/wezterm
	url = https://github.com/Colduck/wezterm
[submodule "kitty/.config/kitty"]
	path = kitty/.config/kitty
	url = https://github.com/Colduck/kitty
[submodule "i3/.config/i3"]
	path = i3/.config/i3
	url = https://github.com/Colduck/i3
